/* Página principal */
.navbar {
    padding-left: 5%;
}

.container {
    width: 70%;
    padding-top: 50px;
}

.texto {
    text-align: center;
}

.row {
    padding: 50px 0;
    text-align: center;
}

.rodape {
 text-align: center;
 margin-top: 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
	text-decoration: none; 
	color: black;
}

a:active {
	text-decoration: none;
    color: black;
}

/* Sobre */
.texto-sobre {
    padding-bottom: 50px;
}

.sobre p {
    text-align: left;
}

.sobre .row {
    padding-top: 0px;
}

/* Conato */
.contato h1{
    text-align: center;
}
