.cabecalho {
    background-color: black;
    padding-left: 50px;
}

.logo {
    padding-right: 20px;
}

.logo img {
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

.texto-index {
    text-align: center;
    padding: 50px;
}

.texto-index .container {
    max-width: 70%;
}

.imagem {
    text-align: center;
}

.imagem img {
    max-width: 768px;
    max-height: 500px;
}

.blog .container {
    max-width: 80%;
}

/* Sobre */
.sobre .container {
    max-width: 85%;
}

.conteudo .container {
    max-width: 85%;
}

.texto-sobre {
    margin: 50px 0 70px 0;
}

.conteudo .row {
    padding-bottom: 20px;
}

.conteudo img {
    max-width: 768px;
    height: 200px;
}

/* Conato */
.contato .container {
    padding: 50px 0;
    max-width: 50%;
}

.contato h1 {
    text-align: center;
}


/* Rodapé */
.rodape {
    text-align: center;
    margin-top: 80px;
}

.rodape a {
    color: black;
    text-decoration: none;
}

.rodape a:hover {
    text-decoration: none; 
    color: black;
}

.rodape a:active {
    text-decoration: none;
    color: black;
}